.homepage {
  width: 100vw;
  height: 91vh;
  overflow-x: hidden;
  background-image: linear-gradient(#054752, #0a8297);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #9f0606;
}
